
@import url(http://fonts.googleapis.com/css?family=Lobster&effect=anaglyph|fire|3d|vintage);
@import 'https://fonts.googleapis.com/css?family=Rock+Salt';
@import 'https://fonts.googleapis.com/css?family=Antic+Slab';
@import 'https://fonts.googleapis.com/css?family=Antic+Slab|Josefin+Sans';

body{
  height: 100%;  
  font-family: 'Port Lligat Sans', sans-serif;
}

h1{
  font-family:'Rock Salt', cursive;

}
body h2{
  font-family:'Antic Slab', serif;
}

body p{
  font-family:'Josefin Sans', sans-serif;
  font-size: 20px;
}
.navbar-header{
font-family: 'Port Lligat Sans', sans-serif;
font-size: 20px;
}

/* -------------------------------------*/
/* home */
#introduction {
  background: url("../image/bordersin.jpg")no-repeat;
  min-height: 100%;
  position: relative;
  background-position: bottom;
  background-size: cover;
  height: 700px;  
}

#introduction:before {
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,#84515F,#51898D);
    opacity: .8; 
  }
.cuadrointro{
  border: 5px dotted #B9D3CF;
  padding: 0px 5px;
  margin: 100px 260px 50px 260px;
  background: rgba(61,59,61, 0.6);

}

.cuadrointro h1{
  font-family: 'Rock Salt', cursive;
  font-size: 5.5vw;
  font-weight: 500;
  color: #EEC2D2;
  padding: 30px 20px;
  margin: 10px 5px;
  background: rgba(61,59,61, 0.6);
  text-align: center;
  vertical-align: middle;
}
 
.cuadrointro h2{
  text-align: center;
  color: #B9D3CF; 
  font-family:'Antic Slab', serif;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  width: 20em;
  margin: 10px 5px 5px 10px;
  animation: type 4s steps(30, end); 
}

.cuadrointro h2:nth-child(2){
  animation: type2 6s steps(30, end);
}

.cuadrointro span{
  animation: blink 1s infinite;
  color: #B9D3CF;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}


/* About & Contact Styles
/* -------------------------------------*/
#aboutme, #contact {
    background: url(../image/cottoncandy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-bottom:5%; 
    padding-top:5%;
    background-size: cover;
}


/* Portafolio
/* -------------------------------------*/

/* portafolio imagenes css */
.view {
  margin: 15px 33px;
  float: left;
  border: 10px solid #B2AEBA;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6;
  cursor: default;
  background: #B9D3CF;
}
.view .mask{
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.view img {
  display: block;
  position: relative;
  height: 200px;
  width: 300px;
}
.view h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  margin: 20px 0 0 0;
}
.view p {
  font-style: italic;
  font-size: 17px;
  position: relative;
  padding: 0px 20px 0px;
  text-align: center
}
/*3*/
.view-tenth img {
  transform: scaleY(1);
  transition: all .7s ease-in-out;
}

.view-tenth .mask {
  background-color: rgba(255, 231, 179, 0.3);
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  transform: scale(0);
  color: #333;
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth p {
  color: #333;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
 }

.view-tenth a.info {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
  color: #84515F;
}

.view-tenth:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity: 0;
}

.view-tenth:hover .mask {
  opacity: 1;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
  transform: scale(1);
  opacity: 1;
}


#portafolio .portafolio-item {
    right: 0;
    margin: 0 0 15px;
}
#portafolio {
  background-color: #51898D;
  padding-top: 30px;
}


/* Contact Styles
/* -------------------------------------*/
.btn-social {
    color: #2c3e50;
  display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #2c3e50;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

/* Footer Styles
/* -------------------------------------*/
footer{
  color: #fff;
  background-color: #84515F;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Back to Top
/* -------------------------------------*/

/* Other Styles
/* -------------------------------------*/
.wow {
   visibility: hidden;
 }
/*# sourceMappingURL=main.css.map */


